@charset 'utf-8';

/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Song Myung', serif; */
:root {
  --mw: 1440px;
  --mw2: 1690px;
  --mw3: 1920px;
  --main_c1: #494949;
  --main_c2: #fafafa;
  --sub_c1: #6c6c6c;
  --sub_c2: #f5f5f5;
  --point_c: #0baf4e;
  --size_L: 22px;
  --size_S: 14px;
  --gap_L: 110px;
  --gap_M: 60px;
  --gap_S: 40px;
  --font: "Noto Sans KR", sans-serif;
}
.mw {
  max-width: var(--mw);
  width: calc(100% - 80px);
  margin: auto;
}
body {
  background-image: url(../img/bg-star.png);
}
body a {
  color: var(--main_c1);
  font-family: "Noto Sans KR", sans-serif;
}
.wrap {
  overflow: hidden;
}

/* gnb */
@media (min-width: 751px) {
  .top-menu > li {
    margin: 0.5rem;
  }
  .gnb {
    padding: var(--gap_M) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
  }
  .gnb img {
    width: 100%;
  }
  .gnb a {
    color: rgb(40, 66, 113);
  }
  .top-menu {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  .top-logo {
    display: none;
  }
  .main-menu {
    position: relative;
  }
  .main-menu > a {
    font-size: var(--size_L);
    font-weight: 500;
    text-align: center;
    display: inline-block;
    padding: 10px 50px;
    white-space: nowrap;
  }
  .main-menu:hover > a {
    position: relative;
    z-index: 10;
    color: var(--point_c);
  }
  .main-menu:hover .sub-menu {
    height: 350px;
    transition: 0.5s;
  }
  .main-menu::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    background-color: var(--main_c2);
    border-radius: 1rem;
    transition: 0.5s;
  }
  .main-menu:hover::before {
    height: 320px;
  }
  .sub-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 0;
    text-align: center;
    overflow: hidden;
  }
  .sub-menu a {
    color: var(--sub_c1);
    line-height: 2.25rem;
  }
  .main-menu:hover .sub-menu {
    opacity: 1;
  }
  .sub-menu li:hover {
    background-color: var(--sub_c2);
  }
  .sub-menu a:hover {
    color: var(--main_c1);
  }
}
.fun {
  border-radius: 10px;
  background-color: var(--sub_c2);
  padding: 0.5rem 1rem;
}
.fun a {
  font-size: var(--size_S);
  color: var(--sub_c1);
}
.fun a:nth-child(1) {
  padding-right: 20px;
  position: relative;
}
.fun a:nth-child(1)::after {
  content: "";
  background-color: var(--sub_c1);
  display: inline-block;
  width: 1px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}
.fun a:hover {
  color: var(--main_c1);
  text-decoration: underline;
}
.bar {
  display: none;
}
@media (max-width: 1340px) {
  .top-menu > li {
    border: none;
    margin: 0.25rem;
  }
  .main-menu > a {
    font-size: var(--size_L);
    font-weight: 500;
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    white-space: nowrap;
  }
  .main-menu a {
    font-size: 1rem;
  }
  .fun a {
    font-size: 12px;
    color: var(--sub_c1);
  }
}
@media (max-width: 750px) {
  .hd {
    padding: var(--gap_S) 0;
  }
  .gnb {
    position: relative;
    z-index: 12;
  }
  .bar {
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgb(40, 66, 113);
    display: block;
    font-size: 2rem;
  }
  .fun {
    display: none;
  }
  .top-menu {
    background-color: var(--main_c2);
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: 0.5s;
    opacity: 0;
  }
  .top-menu.on {
    width: calc(100% - 150px);
    opacity: 1;
  }
  .top-menu:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
  }
  .top-logo {
    display: block;
    margin: auto;
    padding: 1rem;
    width: 60%;
  }
  .main-menu {
    padding: 2rem 0;
  }
  .sub-menu {
    height: 0;
    opacity: 0;
  }
  .sub-menu a {
    padding: 0 2.5rem;
    line-height: 1.75rem;
    font-size: 14px;
  }
  .main-menu:hover .sub-menu {
    height: 100%;
    opacity: 1;
    transition: 0.3s;
  }
}

/* reser */
.reser {
  background-image: url(../img/bg-dark.jpg);
  background-size: cover;
  background-position-y: 57%;
  font-family: var(--font);
  font-size: 22px;
}
.reser-menu {
  padding-top: 2rem;
}
.reser-menu p {
  width: fit-content;
  padding: 0 0.5rem;
  display: flex;
  color: var(--point_c);
  font-weight: bold;
  position: relative;
}
.reser-menu p::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  left: 0;
  background-color: var(--point_c);
}
.reser-menu p::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  right: 0;
  background-color: var(--point_c);
}
.reser-menu ul {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.reser-menu ul li a {
  color: var(--main_c2);
}
.reser-menu ul li:hover a {
  text-decoration: underline;
}
@media (max-width: 750px) {
  .reser-menu p {
    font-size: 18px;
  }
  .reser-menu ul {
    padding: 1rem 0;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1rem;
  }
  .reser-menu ul li {
    padding: 1rem 0;
  }
}

/* pg-select / button*/
.btns {
  display: flex;
  justify-content: space-between;
}
.btns button {
  width: calc(100% / 2 - 20px);
  padding: 2rem 0;
  border: none;
  border-radius: 30px;
  font-size: 22px;
  background-color: var(--sub_c2);
  cursor: pointer;
  margin: var(--gap_L) 0;
  color: var(--main_c1);
  font-family: var(--fonts);
  font-weight: bold;
}
.btns button:hover {
  background-color: var(--point_c);
  color: var(--main_c2);
  transition: 0.3s;
}

/* date-select */
.reser-con {
  font-family: var(--font);
}
.title1,
.title2,
.title3 {
  border-radius: 30px 30px 0 0;
  font-size: 22px;
  font-weight: 500;
  padding: 2rem;
  color: var(--main_c1);
  background-color: var(--sub_c2);
  border-bottom: 1px solid var(--sub_c1);
}
.date-con {
  padding: 3rem;
  background-color: var(--main_c2);
  display: flex;
  justify-content: space-between;
}
.date-con div {
  width: calc(100% / 2 - 20px);
}
.date-ts {
  border-bottom: 1px solid var(--main_c1);
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  color: var(--main_c1);
  font-family: var(--font);
  font-weight: 500;
}
.date-ts span {
  width: 25%;
  text-align: center;
}
.list > label {
  border-bottom: 1px solid var(--sub_c1);
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.list > label > * {
  width: 25%;
  text-align: center;
  color: var(--main_c1);
  font-weight: 500;
}
[type="radio"] {
  accent-color: green;
}
.list > label > .t-t3 {
  color: rgb(0, 89, 255);
}
.list > label > .t-unavail {
  color: red;
}
@media (max-width: 750px) {
  .date-con {
    display: block;
  }
  .date-con > div {
    width: 100%;
  }
  .calendar {
    margin-bottom: 2rem;
  }
}

/* per-info */
.per-info {
  margin-top: 3rem;
  color: var(--main_c1);
}
.per-con {
  background-color: var(--main_c2);
  padding: 0 2rem;
}
.per-con > li {
  border-bottom: 1px solid var(--sub_c1);
  padding: 2rem 1rem;
  width: 100%;
}
.per-con li {
  display: flex;
  align-items: center;
}
.per-con li span {
  display: inline-flex;
  align-items: center;
  height: 30px;
  width: 80px;
  text-align: left;
}
.per-con li input {
  height: 25px;
}
.per-con li:nth-child(2) input,
.per-con li:nth-child(3) input {
  width: 20%;
}
.per-con li:nth-child(4) input {
  width: 30%;
}
.refer {
  padding: 2rem 3rem;
  line-height: 2.5rem;
  background-color: var(--main_c2);
  font-size: 14px;
}
@media (max-width: 750px) {
  .per-con > li {
    padding: 2rem 0;
  }
  .per-con li:nth-child(1) input,
  .per-con li:nth-child(2) input,
  .per-con li:nth-child(4) input {
    width: calc(100% - 90px);
  }
  .per-con li:nth-child(3) input {
    width: calc(100% / 2 - 58px);
  }
  .per-con li:nth-child(4) #essen {
    font-size: 10px;
  }
}

/* group-info */
.group-info {
  margin-top: 3rem;
  color: var(--main_c1);
}
.group-con {
  background-color: var(--main_c2);
  padding: 0 2rem;
}
.group-con > li {
  border-bottom: 1px solid var(--sub_c1);
  padding: 2rem 1rem;
  width: 100%;
}
.group-con li span {
  display: inline-flex;
  align-items: center;
  height: 30px;
  width: 100px;
}
.group-con li .age {
  width: 220px;
}
.group-con li input,
.group-con li select {
  height: 25px;
}
.group-con li:nth-child(2) select,
.group-con li:nth-child(3) input,
.group-con li:nth-child(5) select {
  width: 15%;
}
.group-con li:nth-child(1) input {
  width: 25%;
}
.group-con li:nth-child(4) input {
  width: 10%;
}
.group-con li:nth-child(6) textarea {
  width: 40%;
}
.group-con li:nth-child(6) {
  border-bottom: none;
}
.group-con li {
  display: flex;
  align-items: center;
}
@media (max-width: 750px) {
  .group-con > li {
    padding: 2rem 0;
  }
  .group-con li:nth-child(1) input,
  .group-con li:nth-child(2) select,
  .group-con li:nth-child(3) input,
  .group-con li:nth-child(5) select,
  .group-con li:nth-child(6) textarea {
    width: calc(100% - 100px);
  }
  .group-con li:nth-child(4) input {
    width: 20%;
  }
  .group-con li .age {
    font-size: 10px;
    width: 50%;
  }
}

/* agree */
.agree {
  padding: 3rem 0;
  color: var(--main_c1);
  font-family: var(--font);
}
.agr-t,
.arg-conT {
  font-weight: 500;
}
.arg-cont {
  font-size: 14px;
}
.agr-con ul {
  padding: 1rem;
  line-height: 1.5rem;
}
.agr-con ul li:nth-child(2) {
  padding: 1rem 0;
}
.agr-warn {
  color: red;
  padding: 1rem 0;
}
.agr-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.agr-btn label {
  padding: 1.5rem 0;
  font-weight: 500;
}
.agr-btn input {
  accent-color: green;
}
.agr-btn button {
  padding: 1.75rem 7rem;
  border: none;
  border-radius: 20px;
  background-color: var(--point_c);
  font-family: var(--font);
  font-size: 22px;
  font-weight: 500;
  color: var(--main_c1);
  cursor: pointer;
}
.agr-btn button:hover {
  color: var(--main_c2);
  transition: 0.3s;
}
@media (max-width: 750px) {
  .agr-t,
  .arg-conT,
  .agr-warn {
    font-size: 14px;
  }
  .arg-cont {
    font-size: 12px;
  }
  .agr-btn label {
    font-size: 14px;
  }
}

/* footer */
.ft {
  font-family: var(--font);
}
.ft {
  background-image: url(../img/bg-2dark.png);
  margin-top: 3rem;
  color: var(--main_c2);
}
.li1 {
  border-bottom: 1px solid var(--main_c2);
}
.ft-T {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.ft-T div {
  background-color: var(--main_c2);
  border-radius: 15px;
  padding: 0.5rem 0;
  display: flex;
}
.li1 div a {
  padding: 0 1.5rem;
  color: var(--sub_c1);
  position: relative;
}
.li1 div a:hover {
  color: var(--main_c1);
  text-decoration: underline;
}
.li1 div a:nth-of-type(1)::after,
.li1 div a:nth-of-type(2)::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background-color: var(--sub_c1);
}
.li2 {
  display: flex;
  justify-content: space-between;
}
.ft-L,
.ft-R {
  padding-top: 0.5rem;
}
.ft-L {
  display: flex;
}
.ft-L > p,
.ft-R > p {
  padding-right: 2.5rem;
  position: relative;
  color: var(--point_c);
  font-weight: 600;
}
.ft-L > p::after,
.ft-R > p::after {
  content: "";
  width: 1px;
  height: calc(100% + 0.5rem);
  background-color: var(--main_c2);
  position: absolute;
  top: -0.5rem;
  left: calc(100% - 21px);
}
.ft-L li,
.ft-R p {
  padding-bottom: 1.5rem;
}
.ft-R li p:nth-of-type(1) {
  padding-right: 1.25rem;
}
.ft-R,
.ft-R li {
  display: flex;
}
.cr {
  border-top: 1px solid var(--main_c2);
  padding: 2rem;
  text-align: center;
}

@media (max-width: 750px) {
  .ft {
    margin-top: 3rem;
  }
  .ft-T {
    display: block;
    font-size: 0.97rem;
    padding: 0;
    padding-top: 2rem;
  }
  .ft-T img {
    padding-bottom: 1.5rem;
  }
  .ft-T a {
    width: 100%;
    text-align: center;
  }
  .li1 {
    border: none;
  }
  .li2,
  .ft-L,
  .ft-R {
    display: block;
  }
  .ft-L p,
  .ft-R > p {
    padding: 1rem 0;
  }
  .ft-L ul,
  .ft-R ul {
    padding: 0.5rem 0;
    position: relative;
  }
  .ft-L ul::after,
  .ft-R ul::after {
    content: "";
    width: calc(100% + 80px);
    height: 1px;
    background-color: var(--main_c2);
    position: absolute;
    top: 0;
    left: -40px;
  }
  .ft-L > p::after,
  .ft-R > p::after {
    display: none;
  }
}
